.cards {
  background-color: mediumaquamarine;
  border-radius: 5px;
  margin: 8%;
  min-width: 6rem;
  box-shadow: 2px 2px 10px black;
}
.cards .image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.cards .title {
  text-align: center;
  padding:2%;
}
.cards .description {
  text-align: center;
  padding:1%;
}
.cards button {
  margin-top: 2%;
  margin-bottom:5%;
  background-color: lightblue;
  border: 1px solid black;
  padding:0.5% 2%;
  border-radius: 5px;
  cursor: pointer;
}
.cards button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
