@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
.mentorList{
    text-align:center ;
    align-items:center ;
    background-color:#02917a;
    width: 90%;
    margin: 1.2% auto 100px;
    padding: 2% 7% 4%;
    border-radius: 1%;
    box-shadow: 2px 2px 10px black;
}

.mentorList h1{
    font-size:4.2rem ;
    color: white;
    margin-bottom: 1.5rem;
    font-family: 'Estonia', cursive;
}


@media only screen and (max-width: 640px) {
    .mentorList h1{
        font-size:2.5rem ;
        margin-top: 0.5rem;
    }
}